data/
_build/
_superseded/
__pycache__/
.pytest_cache
_static/
.book_docs/
book_docs/
data/corrections/
data/field_visits/
data/RCs/
input_data/WSC_basin_polygons_20220721/
data/HYSETS_watershed_boundaries/
input_data/WSC_basin_polygons_20240905/
input_data/WSC_basin_polygons_20240905.zip
superseded/
WORKFLOW_REQUIREMENTS.md
AGENT_REQUIREMENTS.md
book_docs/catchments/
.vscode/
station_pages/
bfg.jar
allfiles.txt

